{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

    {% if user.is_authenticated %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3  ">
        {% for todo in todos %}
             <div class="col m-2">
                 <a href="{% url 'embedContent:details' todo.id %}">
                    <div class="card  shadow-sm text-center h-100">
                        <div class="card-body">
                            <img src="media/{{ todo.imageurl }}"   style="align-content:center;max-width:100px;max-height: 100px" alt="...">
                        </div>
                        <div class="card-footer">
                            <div class="card-text">
                                 <h5 class="card-title">{{ todo.title }}</h5>
                            </div>
                        </div>
                    </div>
                 </a>
            </div>
        {% endfor %}


        </div>
    {% endif %}
{% endblock content %}